<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Test Attempts</title>
</head>
<style>
.image{
    background-image:url('../assests/questions.svg');
    background-size: contain;
    background-position:center;
    height: 450px;
    background-repeat: no-repeat;
}
</style>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" style="font-weight: bold;" href="#">Quiz Camp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="../userPage.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Test Attempts</a>
            </li>
          </ul>
        </div>
          <button class="btn btn-light my-2 my-sm-0" onclick="logout()">Logout</button>
      </nav>
    
    <div class="container" id="container" style="margin-top: 9vh;">
        <div id="table-container" style="display: none;">
            <div class="row">
                <div class="col">
                    <br>
                    <h3>Result:</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="background-color: #ffffff;overflow:hidden;" id="table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image"></div>
   
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="attemptedTest.js"></script>
</html>
